<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/github.min.css" />
        <link type="text/css" rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div class="container">
            {{{body}}}
        </div>
    </body>
</html>
