<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{title}}</title>
        <meta name="description" content="CORSmirror is a RESTful API that provides a mirror to websites with CORS enabled." />
        <meta name="keywords" content="corsmirror,cors,mirror,rest,api,web,development" />

        <!-- Skeleton -->
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
        <!-- Highlight.js -->
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/github.min.css" />
        <!-- Custom Styles -->
        <link type="text/css" rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div class="container">
            {{{body}}}
        </div>
    </body>
</html>
